* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #333;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: linear-gradient(to right, #00aaff, #004e92);
  color: #ffffff;
  text-align: center;
  padding: 60px 20px;
}

header h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

header p {
  font-size: 18px;
  margin-bottom: 20px;
}
header nav ul {
  list-style-type: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
}

header nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}

header nav ul li a:hover {
  text-decoration: underline;
}
main {
  padding: 40px 20px;
}


#carrossel {
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
  height: 320px; 
}

.carrossel-container {
  display: flex;
  animation: carrosselAnim 9s infinite ease-in-out;
  width: 300%; 
}

.carrossel-img {
  width: 20%; 
  height: 10%; 
  object-fit: cover; 
  object-position: center center; 
}


@keyframes carrosselAnim {
  0% {
    transform: translateX(0);
  }
  33.33% {
    transform: translateX(-27%);
  }
  66.66% {
    transform: translateX(-0%);
  }
  100% {
    transform: translateX(0);
  }
}


#formulario {
  margin-top: 80px;  
  display: flex;
  justify-content: center; 
  flex-direction: column;
}

#formulario h2 {
  font-size: 28px;
  color: #004e92;
  margin-bottom: 20px;
  text-align: center;
}

.form-box {
  background: linear-gradient(to bottom, #004e92, #ccc);
  padding: 30px; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
  width: 100%; 
  max-width: 500px; 
  margin: 0 auto; 
}

#formulario form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#formulario label {
  font-size: 18px; 
  color: #000000;
}

#formulario input,
#formulario textarea {
  padding: 12px;
  font-size: 16px; 
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: none;
}

#formulario button {
  padding: 12px 20px;
  font-size: 18px;
  background-color: #004e92;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

#formulario button:hover {
  background: linear-gradient(to top, #004e92, #ccc);
}

footer {
  background-color: #004e92;
  color: white;
  padding: 20px;
  text-align: center;
}

footer p {
  font-size: 16px;
}

footer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  padding-top: 100px;
}

.modal-content {
  background-color: #fff;
  margin: 5% auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  text-align: center;
}

.close-btn {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
