

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #333;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  
  header {
    background: linear-gradient(to right, #00aaff, #004e92);
    color: #ffffff;
    text-align: center;
    padding: 60px 20px;
  }
  
  header h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  header p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  header nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  header nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
  }
  
  header nav ul li a:hover {
    text-decoration: underline;
  }
  
  main {
    padding: 40px 20px;
  }
  
  .diferenciais h2 {
    font-size: 28px;
    color: #004e92;
    margin-bottom: 20px;
  }
  
  .diferenciais .intro-text {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .diferenciais-box {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .img-mar{
    display: flex;
    justify-content: center;
  }
  
  .diferencial-item {
    width: 30%;
    background-color: #f4f9fc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .diferencial-item:hover {
    transform: translateY(-10px);  
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);  
  }
  
  .diferencial-item p {
    font-size: 16px;
  }
  
  .diferenciais img {
    width: 50%;
    height: auto;
    border-radius: 8px;
  }
  

  footer {
    background-color: #004e92;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    header h1 {
      font-size: 28px;
    }
  
    .diferenciais-box {
      flex-direction: column;
      align-items: center;
    }
  
    .diferencial-item {
      width: 80%;
      margin-bottom: 20px;
    }
  }
